/node_modules/
/npm-debug.log
/benchmark/node_modules/
/benchmark/npm-debug.log
/.grunt/
/coverage/
.DS_Store
/.idea/
/.vs/
/cjs
/dist
/umd
/test/dist
/src/schemas/*
/.vscode
/test/node_modules/
/test/package-lock.json
/test/public/manifest.json
